<div class="html-editor html-content-wrapper @(Outlined ? "is-outlined" : "")" @attributes="UserAttributes">
    <div @ref="_toolbar">
        @if (ChildContent is null)
        {
            <CascadingValue Value="@this">
                <MudHtmlToolbarOptions />
            </CascadingValue>
        }
        else
        {
            @ChildContent
        }
    </div>

    <div hidden="@DisplayHTML" class="@(Resizable ? "is-resizable" : "")" @ref="_editor"></div>

    <textarea hidden="@(!DisplayHTML)" class="html-viewer @(Outlined ? "is-outlined" : "") @(Resizable ? "is-resizable" : "")" @bind="@Html"></textarea>
</div>
